.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
  padding-left: 5%;
  background: url('https://s3-alpha-sig.figma.com/img/2cf2/6395/2ccbb1fb495af900c5ecf1dc81fa2a60?Expires=1684713600&Signature=ohDZVl1iqVMKCU0qX1AnOaDFC7ZYjixantzkDeq4ZsKYbels5SG4cooA5kLDzhp~j1d5ug0hTVGekmyf3Se~CPMBNnuVRYr~IKHtCebcX5T1wiVcVFQhxxyJS2wSwCFtDoQscCS3928HoCDZn-K4eFfK2UBmeBpNAqcS6HgWWdYzv~Xr3BYB7pt0NmFdU4ujm9VGCJv5tmSXWPyVclkgp4T8x2-Kag9xDwVoRnnV3B83xhOdkFOJBnM0EU8Kf~S4lJa7kteD0NNE2lWp19lEp0y~VhdjAU3dkQnc0DImYkYalsPKgdgN~2iEBMWh25Vxso4Wf3ifvsyB8Xq5m2tfUw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4');
  background-repeat: no-repeat;
  background-size: cover;
}

.image-container {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.image-container img{max-width: 70%;}
.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.image-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  z-index: 2;
}



.form-container {
  flex: 1;
  display: flex;
  justify-content: center;
  height: fit-content;
  margin-right: 20px;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  background:#f2f2f2;
  opacity: 85%;
  box-shadow: -6px -6px 12px rgba(0, 0, 0, 0.25), 6px 6px 12px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  color: #2484CF;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 30% ;
}
.form-container form{
  margin-top: 5%;
}

.logo-container {
  flex-direction: row;
  color: #fff;
  position: absolute;
  top: 20px;
  left: calc(45%-0.1rem);
}

.logo {
  font-size: 28px;
  font-weight: bold;
  font-family: 'Poppins';
}

.check-box{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
#remember{
  display: inline-flex;
  position: relative;
  top: 24px;
  left:-68px;
}
.form-container h1 {
  text-align: center;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 0px;
  padding-left: 2px;
  color: #202020;
  border: none;
  border-bottom: 2px solid #B7ABAB;
  margin-bottom: 20px;
  background: transparent;
  outline: none;
}
input:focus{
  border-bottom: 2px solid rgba(27, 29, 26, 0.953);
}
.form-container button {
  background: #2484CF;
  color: #f2f2f2;
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
#link{
  color: #2484CF;
}
.form-container button:hover {
  background: #2484CF;
  box-shadow: inset -5px -5px 10px rgba(0, 0, 0, 0.25), inset 5px 5px 10px rgba(0, 0, 0, 0.25);
}

.form-container p:nth-child(4)  {
  color:  #202020;
  margin-top: 20px;
}
