.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.profile-content-container {
  flex: 1;
  display: flex;
  padding: 20px;
}

.profile-container {
  flex: 1;
  text-align: center;
  max-width: 400px;
  margin-right: 20px;
  margin-top: 100px;
  border: none;
  border-right: 1px solid #d3c8c8;
}

.profile-title {
  font-size: 32px;
  margin-top: 0;
  color: #333;
}

.profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.profile-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.data {
  margin-top: 50px;
}

.profile-info {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-info label {
  flex: 1;
  text-align: right;
  margin-right: 10px;
  color: #666;
}

.profile-info p {
  flex: 1;
  text-align: left;
  margin-left: 10px;
  color: #333;
}

.profile-info label,
.profile-info p {
  font-size: 16px;
}

.content-container {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 100px; /* Add margin to separate from the profile container */
}

.content-container h2{
   position: relative;
   left: 500px;
}


  .planner-trips {
    margin-top: 20px;
  }
  
  .trips-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .trips-table th,
  .trips-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .delete-btn {
    padding: 5px 10px;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .delete-btn:hover {
    background-color: #c82333;
  }
  
  .loading {
    font-size: 16px;
    font-weight: bold;
    color: #777;
    text-align: center;
    margin-top: 20px;
  }
  