.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.login-logo {
  margin-bottom: 2rem;
}

.login-logo img {
  width: 100px;
  height: auto;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.login-form p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.input-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1.5rem;
}

.input-container input {
  border: none;
  border-bottom: 2px solid #cccccc;
  font-size: 1.2rem;
  padding: 0.5rem 0;
  margin-bottom: 0.5rem;
  outline: none;
}

.input-container input:focus {
  border-color: #3498db;
}

.input-container label {
  font-size: 1rem;
  color: #666666;
  margin-bottom: 0.5rem;
  transform: translateY(0.5rem);
  transition: transform 0.3s ease-in-out;
}

.input-container input:focus ~ label, .input-container input:not(:placeholder-shown) ~ label {
  transform: translateY(-1rem);
}

button {
  background-color: #3498db;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 0.8rem 1.5rem;
  font-size: 1.2rem;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #2980b9;
}
