/* TripCard.js CSS */
.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  justify-items: center;
  align-items: start;
  padding: 20px;
}


.card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background-color: #f1f1f1;
  transition: transform 0.3s ease-in-out;
}

.card:hover{
  transform: scale(1.05);
}

.card img{
  filter: opacity(1);
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: filter 0.5s ease-in-out;
}

.card img:hover {
  filter: opacity(0.7);
}
 
.carousel-image-container {
  position: relative;
}

.add-to-my-trip-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  z-index: 1;
}

.card-info {
  padding: 10px;
}

.card-info h3 {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.card-info p {
  font-size: 1rem;
  margin-bottom: 2px;
}

.card-info .details{
  display: grid;
  grid-template-columns: 150px 120px;
  
}

.card-info .details .days,.ppl{
  justify-self: end;
}

.card-rating {
  display: flex;
  align-items: center;

}



.card-rating .star {
  color: #FFD700;
  margin-right: 0.5rem;
  font-size: 1rem;
}

.card-rating .rating {
  font-size: 0.8rem;
  font-weight: bold;
}
.bottom-card {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.btn-view-trip {
  align-self: flex-end;
  padding: 10px 15px;
  background-color: #0077b6;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn-view-trip:hover {
  background-color: #023e8a;
}

/* Navbar.js CSS */
.navbar {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  background-color: transparent;
  top: 0;
  z-index: 999;
}
.navbar-color{
  background-color: #3b81c4;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar-logo {
  font-size: 28px;
  font-weight: bold;
  font-family: 'poppins';
  color: #004974;
}
.navbar-color .navbar-logo{
  font-size: 28px;
  font-weight: bold;
  font-family: 'poppins';
  color: #fff;
}

.navbar-items {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
.navbar-item-text{
  color: #4DBDFC;
}
.navbar-color .navbar-item-text{
  color: #fff;
}

.navbar-item {
  margin-left: 20px;
  margin-right: 20px; /* Add this line for right margin */
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.navbar-item:hover {
  color: #4C68FF;
}

.navbar-item:last-child {
  margin-left: auto;
}

.navbar-create-btn {
  color: #fff;
  padding: 10px 20px;
  margin-right: 10px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  background: #352cb8;
  transition: background-color 0.3s ease-in-out;
}

.navbar-create-btn:hover {
  background: #023e8a;
}

/** Check list*/
.checklist-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.checklist {
  list-style: none;
  margin: 0;
  padding: 0;
}

.checklist-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  border-bottom: 1px solid #ccc;
  transition: background-color 0.2s ease-out;
}

.checklist-item:hover {
  background-color: #f7f7f7;
}

.checklist-item.completed {
  background-color: #e6ffe6;
}

.checklist-label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.checklist-label input[type='checkbox'] {
  margin-right: 1rem;
}

.checklist-delete-button {
  padding: 0.5rem;
  background-color: #ff6666;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-out;
}

.checklist-delete-button:hover {
  background-color: #ff4d4d;
}

.checklist-form {
  margin-top: 1rem;
  display: flex;
}

.checklist-form input[type='text'] {
  flex-grow: 1;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px 0 0 4px;
}

.checklist-form button[type='submit'] {
  padding: 0.5rem;
  background-color: #66b3ff;
  color: white;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  transition: background-color 0.2s ease-out;
}

.checklist-form button[type='submit']:hover {
  background-color: #4d94ff;
}

@media screen and (max-width: 480px) {
  .checklist-form {
    flex-direction: column;
  }

  .checklist-form input[type='text'] {
    border-radius: 4px;
    margin-bottom: 1rem;
  }

  .checklist-form button[type='submit'] {
    border-radius: 4px;
  }
}


/*Footer.js Css*/
/* Add this CSS code to your stylesheet or component */

footer {
  background-color: #153041;
  color: #fff;
  padding: 20px;
}

.container {
  max-width: 100%;
  padding: 40px 70px;
  margin: 0 auto;
}

.container .row h4 {
  font-size: 35px;
}

.container .row h5 {
  font-size: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
}

.icon-foot {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #bcd4e2;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin: 10px;
  margin-bottom: 20px;
}

.fab {
  font-size: 30px;
  color: #16188a;
}


.text-center {
  text-align: center;
}

.mt-3 {
  margin-top: 15px;
}


#Srchbar{
  background-color: #D9D9D9;
  max-width: fit-content;
  color: #2484CF;
  position: relative;
  left: 25px;
}
#Srchbar i{
  position: relative;
  top: 4px;
  margin: 5px;
  font-size: 24px;
}
#Srchbar input[type=text], 
#Srchbar input::placeholder
{
  background: transparent;
  border: none;
  color: #2484CF;
  font-size: 16px;
  padding: 0px;
  margin: 0px;
  margin-left: 5px;
  width: 12rem;
  
}
#Srchbar button{
  background-color: #2484CF;
  color: #fff;
  font-size: 16px;
  margin: 2px 5px;
  padding: 10px 18px;
  border: none;
}
.trip-home {
 display: inline-flex;
 gap: 470px;
}

/*layout.js*/
.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}
